@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: 'Pathway Gothic One', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    outline: hidden;
    background-color: #d1d1d1;
}
section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
.grid{
    width: 60%;
    margin: 0 auto;
    position: relative;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25em;
    gap: 0;
    grid-auto-flow: row;
}
.grid .box{
    padding: 1em 2em;
    color: #fff;
}
.flexbox{
    width: 60%;
    margin: 0 auto;
    position: relative;
    border-radius: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: transparent;
}
.flexbox .box{
    width: 12em;
    height: 25em;
    padding: 1em;
    color: #fff;
}
.box .icon{
    margin: 1em 0
}
.box .content h1{
    font-size: 2.5em;
    text-transform: uppercase;
}
.box .content p{
    line-height: 130%;
    padding: 2em 0;
    font-size: 1.2em;
}
.box .content button{
    position: absolute;
    bottom: 10%;
    padding: .5em 1em;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 1em;
    font-size: 1.2em;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 1s ease;

}
.box .content button:hover{
    background-color: #fff;
    color: #000;
}
footer{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: #4f4f4f;
    opacity: .7;
}
footer p{
    font-weight: 400;
}
footer a{
    color: #4f4f4f;
    font-weight: 700;
}
